// big button
.big-button {
    background: $purple;
    border: none;
    border-bottom: .6rem solid $dark-purple;
    color: white;
    font-weight: bold;
    font-size: $m-size;
    margin-bottom: $m-size;
    padding: 1.8rem;
    width: 100%
}

.big-button:disabled {
    opacity: .5;
}

// normal button
.button {
    background: $purple;
    border: none;
    border-bottom: .3rem solid $dark-purple;
    color: white;
    font-weight: 500;
    padding: $m-size;
}

// modified "link" button
.button--link {
    background: none;
    border: none;
    color: $off-white;
    padding: 0 0 0 0.5rem;
}

@media (min-width: $desktop-breakpoint) {
    .big-button {
        font-size: $l-size;
        margin-bottom: $l-size;
        padding: 2.4rem;
    }
    .button {
        padding: $s-size;
    }
    .button--link {
        padding: 0;
    }
}