.header {
    background: $off-black;
    color: white;
    margin-bottom: $l-size;
    padding: $s-size 0;
   
}
.header__title {
    font-size: $m-size;
    margin: 0;
}
.header__subtitle {
    color: $off-white;
    font-size: $s-size;
    font-weight: 500;
    margin: 0;
}

@media (min-width: $desktop-breakpoint) {
    .header {
        margin-bottom: $xl-size;
        padding: $m-size 0;
    }
    .header__title {
        font-size: $l-size;
    }
    .header__subtitle{
        font-size: $m-size;
    }
}