//widget
.widget {
    background: $light-blue;
    margin-bottom: $m-size;
}

// widget header
.widget-header {
    background: $blue;
    color: $off-white;
    display: flex;
    justify-content: space-between;
    padding: $m-size;
}

// widget header title
.widget-header__title {
    margin: 0;
}

// widget message
.widget__message {
    border: none;
    border-bottom: 1px solid lighten($light-blue, 10%);
    color: $off-white;
    margin: 0;
    padding: $l-size;
    text-align: center;
}

@media (min-width: $desktop-breakpoint) {
    .widget {
        margin-bottom: $xl-size;
    }
}